.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw;
}

.galleryContainer .galleryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.galleryContainer .galleryContent .galleryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1em;
  width: 100%;
  height: 100%;
  margin: 50px 0 100px 0;
}

.galleryContainer .galleryContent .galleryHeader .galleryHeaderCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.galleryContainer .galleryContent .galleryHeader .galleryHeaderCategory button {
  font-size: 24px;
  line-height: 33px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.galleryContainer .galleryContent .galleryHeader .galleryHeaderCategory .video {
  border-bottom: 1px solid var(--solo);
}

.galleryContainer .galleryContent .galleryHeader .galleryHeaderCategory .photo {
  border-bottom: 1px solid var(--ensemble);
}

.galleryContainer .galleryContent .galleryHeader .galleryHeaderCategory .all {
  border-bottom: 1px solid var(--accent);
}

.galleryContainer .galleryContent .galleryBody {
  min-height: 80vh;
  width: 100%;
  margin: 0 0 150px 0;
}

.galleryContainer .galleryContent .galleryBody .galleryItem {
  padding: 25px;
  margin: 0 15px 25px 15px;
  width: calc(33.33333% - 1.875rem);
  box-sizing: border-box;
}

.galleryContainer .galleryContent .galleryBody .galleryItem iframe {
  width: 100%;
  height: revert-layer;
}

.galleryContainer .galleryContent .galleryBody .galleryItem img {
  width: 100%;
  height: auto;
}

@media all and (max-width: 1024px) {
  .galleryContainer .galleryContent .galleryBody .galleryItem {
    width: calc(50% - 1.875rem);
  }
}

@media all and (max-width: 768px) {
  .galleryContainer .galleryContent .galleryBody .galleryItem {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media all and (max-width: 425px) {
  .galleryContainer .galleryContent .galleryHeader {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 50px;
  }
}
