.home {
  margin: 0 5vw;
}

.home .project {
  padding: 100px 0;
}

.home .project .projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.home .project .projectContainer .projectContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.home .project .projectContainer .projectContent .projectImage {
  display: contents;
  width: 100%;
}

.home .project .projectContainer .projectContent .projectImage img {
  filter: brightness(0.5);
  min-width: 50%;
  min-height: 100%;
  width: 100%;
}

.home .project .projectContainer .projectContent .projectDescription {
  width: 100%;
}

.home .project .projectContainer .projectContent .projectDescription h2 {
  margin-top: 200px;
  margin-bottom: 25px;
  margin-left: -100px;
  z-index: 1;
  position: relative;
}

.home .project .projectContainer .projectContent .projectDescription p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
  padding-left: 50px;
  font-weight: 400;
  margin: 0;
}

.home
  .project
  .projectContainer
  .projectContent
  .projectDescription
  .linkButtonContainer {
  padding: 25px 0 0 50px;
  display: flex;
  justify-content: flex-start;
}

.home .about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 100px;
  height: 100vh;
}

.home .about .aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home .about .aboutContainer .aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.home .about .aboutContainer .aboutContent .aboutImage {
  width: 75%;
}

.home .about .aboutContainer .aboutContent .aboutImage img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
  filter: brightness(0.5);
  position: relative;
}

.home .about .aboutContainer .aboutContent .aboutDescription {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
  left: -120px;
}

.home .about .aboutContainer .aboutContent .aboutDescription h2 {
  margin-top: 200px;
  margin-bottom: 25px;
}

.home .about .aboutContainer .aboutContent .aboutDescription p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
  font-weight: 400;
}

.home
  .about
  .aboutContainer
  .aboutContent
  .aboutDescription
  .linkButtonContainer {
  padding: 25px 0 0 50px;
  display: flex;
  justify-content: flex-start;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: var(--accent);
  z-index: 210;
  width: 92%;
  margin-left: -10%;
  position: absolute;
}

.line.appear {
  transform: scaleX(1);
  transition: transform 2s ease-out;
}

@media all and (max-width: 1024px) {
  .home .project .projectContainer {
    height: 100%;
  }

  .home .project .projectContainer .projectContent {
    flex-direction: column;
  }

  .home .project .projectContainer .projectContent .projectDescription h2 {
    margin-top: 25px;
    margin-left: 0;
  }

  .home .about .aboutContainer .aboutContent {
    flex-direction: column;
    justify-content: flex-start;
  }

  .home .about .aboutContainer .aboutContent .aboutImage {
    width: 100%;
  }

  .home .about .aboutContainer .aboutContent .aboutDescription {
    width: 100%;
    bottom: 60px;
    left: unset;
  }

  .home .about .aboutContainer .aboutContent .aboutDescription h2 {
    margin-top: 0;
  }

  .home .about .aboutContainer .aboutContent .aboutDescription p {
    margin: 0;
  }
}
