.home {
  margin: 0 5vw;
}

.home .project {
  padding: 100px 0;
}

.home .project .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.home .project .project-container .project-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.home .project .project-container .project-content .project-image {
  display: contents;
  width: 100%;
}

.home .project .project-container .project-content .project-image img {
  filter: brightness(0.5);
  min-width: 50%;
  min-height: 100%;
  width: 100%;
}

.home .project .project-container .project-content .project-description {
  width: 100%;
}

.home .project .project-container .project-content .project-description h2 {
  margin-top: 200px;
  margin-bottom: 25px;
  margin-left: -100px;
  z-index: 1;
  position: relative;
}

.home .project .project-container .project-content .project-description p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
  padding-left: 50px;
  font-weight: 400;
  margin: 0;
}

.home
  .project
  .project-container
  .project-content
  .project-description
  .link-button-container {
  padding: 25px 0 0 50px;
  display: flex;
  justify-content: flex-start;
}

.home .about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 100px;
  height: 100vh;
}

.home .about .about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home .about .about-container .about-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.home .about .about-container .about-content .about-image {
  width: 75%;
}

.home .about .about-container .about-content .about-image img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
  filter: brightness(0.5);
  position: relative;
}

.home .about .about-container .about-content .about-description {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
  left: -120px;
}

.home .about .about-container .about-content .about-description h2 {
  margin-top: 200px;
  margin-bottom: 25px;
}

.home .about .about-container .about-content .about-description p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
  font-weight: 400;
}

.home
  .about
  .about-container
  .about-content
  .about-description
  .link-button-container {
  padding: 25px 0 0 50px;
  display: flex;
  justify-content: flex-start;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: var(--accent);
  z-index: 210;
  width: 92%;
  margin-left: -10%;
  position: absolute;
}

.line.appear {
  transform: scaleX(1);
  transition: transform 2s ease-out;
}

@media all and (max-width: 1024px) {
  .home .project .project-container {
    height: 100%;
  }

  .home .project .project-container .project-content {
    flex-direction: column;
  }

  .home .project .project-container .project-content .project-description h2 {
    margin-top: 25px;
    margin-left: 0;
  }

  .home .about .about-container .about-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .home .about .about-container .about-content .about-image {
    width: 100%;
  }

  .home .about .about-container .about-content .about-description {
    width: 100%;
    bottom: 60px;
    left: unset;
  }

  .home .about .about-container .about-content .about-description h2 {
    margin-top: 0;
  }

  .home .about .about-container .about-content .about-description p {
    margin: 0;
  }
}
