.footer-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 50px 0 50px 0;
}

.footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.footer-container .footer-content p {
  font-size: 14px;
  font-family: var(--font-rubik);
  font-variant: normal;
  line-height: 18px;
}

.footer-container .footer-content .contact-link a {
  font-size: 19px;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
}
