.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 120vw;
  z-index: 220;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-out;
}

.menuContainer .menuContent {
  padding: 25px 5vw 0 5vw;
}

.menuContainer .menuContent .menuHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuContainer .menuContent .menuHeader .menuLogo h3 {
  font-size: 27px;
  font-style: italic;
  font-variant: normal;
  font-family: var(--font-cormorant);
  line-height: 45px;
  color: #696969;
}

.menuContainer .menuContent .menuHeader .menuLogo h1 {
  font-size: 27px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  color: #696969;
}

.menuContainer .menuContent .menuHeader .closeButtonContainer {
  display: flex;
  z-index: 200;
}

.menuContainer
  .menuContent
  .menuHeader
  .menuButtonContainer
  .menuButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 100px;
  width: auto;
}

.menuContainer
  .menuContent
  .menuHeader
  .menuButtonContainer
  .menuButtonContent
  button {
  cursor: pointer;
  font-size: 110px;
  font-weight: 400;
  font-family: var(--font-gloock);
  z-index: 240;
  margin: 0;
  transform: rotate(45deg);
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

.menuContainer .menuContent .menuBody {
  height: 80vh;
  margin-top: 25px;
  width: 90vw;
  position: relative;
}

.menuContainer .menuContent .menuBody .menuLink p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 27px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  line-height: 27px;
}

.menuContainer .menuContent .menuBody .menuLink.projectsLink,
.menuContainer .menuContent .menuBody .menuLink.aboutLink,
.menuContainer .menuContent .menuBody .menuLink.inspirationLink,
.menuContainer .menuContent .menuBody .menuLink.galleryLink,
.menuContainer .menuContent .menuBody .menuLink.contactLink {
  position: absolute;
}

.menuContainer .menuContent .menuBody .menuLink.projectsLink {
  top: 0;
  left: 0vw;
}

.menuContainer .menuContent .menuBody .menuLink.aboutLink {
  top: 0;
  left: 25vw;
}

.menuContainer .menuContent .menuBody .menuLink.inspirationLink {
  top: 0;
  left: 50vw;
}

.menuContainer .menuContent .menuBody .menuLink.galleryLink {
  top: 0;
  left: 75vw;
}

.menuContainer .menuContent .menuBody .menuLink.contactLink {
  top: 50vh;
  left: 75vw;
}

.menuOpen {
  left: 0vw !important;
}

@media all and (max-width: 768px) {
  .menuContainer .menuContent .menuBody .menuLink.aboutLink {
    left: 55vw;
  }

  .menuContainer .menuContent .menuBody .menuLink.inspirationLink {
    top: 25vh;
    left: 0vw;
  }

  .menuContainer .menuContent .menuBody .menuLink.galleryLink {
    top: 25vh;
    left: 55vw;
  }

  .menuContainer .menuContent .menuBody .menuLink.contactLink {
    top: 50vh;
    left: 0vw;
  }
}
