.inspirationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw;
}

.inspirationContainer .inspirationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inspirationContainer .inspirationContent .inspirationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 0 100px 0;
}

.inspirationContainer
  .inspirationContent
  .inspirationHeader
  .inspirationHeaderTitle
  h2 {
  margin: 50px 0 10px 0;
}

.inspirationContainer
  .inspirationContent
  .inspirationHeader
  .inspirationHeaderTitle
  p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
}

.inspirationContainer .inspirationContent .inspirationBody {
  min-height: 80vh;
  width: 100%;
  margin: 0 0 150px 0;
}

.inspirationContainer .inspirationContent .inspirationBody .inspirationItem {
  width: calc(33.33333% - 1.875rem);
  box-sizing: border-box;
  margin: 0 15px 25px 15px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .quoteItem,
.artItem,
.videoItem {
  padding: 25px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .quoteItem
  p:nth-child(1) {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .quoteItem
  p:nth-child(2) {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin-top: 20px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .quoteItem.short
  p:nth-child(1) {
  font-size: 40px;
  line-height: 44px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  color: var(--foreground);
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .quoteItem.short
  p:nth-child(2) {
  font-size: 21px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  margin-top: 20px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .artItem
  p {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin: 0;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .artItem
  p:nth-child(2) {
  margin-top: 10px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .artItem
  image {
  height: 100%;
  width: 100%;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .artItem,
.videoItem {
  border: 1px solid var(--accent);
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  .videoItem
  p {
  margin-top: 10px;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  iframe {
  width: 100%;
  height: revert-layer;
}

.inspirationContainer .inspirationContent .inspirationBody .inspirationItem p {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin: 0;
}

.inspirationContainer
  .inspirationContent
  .inspirationBody
  .inspirationItem
  img {
  width: 100%;
  height: auto;
}

@media all and (max-width: 1024px) {
  .inspirationContainer .inspirationContent .inspirationBody .inspirationItem {
    width: calc(50% - 1.875rem);
  }
}

@media all and (max-width: 768px) {
  .inspirationContainer .inspirationContent .inspirationBody .inspirationItem {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media all and (max-width: 425px) {
  .inspirationContainer .inspirationContent .inspirationHeader {
    margin-bottom: 0;
  }
}
