.inspiration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw;
}

.inspiration-container .inspiration-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inspiration-container .inspiration-content .inspiration-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 0 100px 0;
}

.inspiration-container
  .inspiration-content
  .inspiration-header
  .inspiration-header-title
  h2 {
  margin: 50px 0 10px 0;
}

.inspiration-container
  .inspiration-content
  .inspiration-header
  .inspiration-header-title
  p {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
}

.inspiration-container .inspiration-content .inspiration-body {
  min-height: 80vh;
  width: 100%;
  margin: 0 0 150px 0;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item {
  width: calc(33.33333% - 1.875rem);
  box-sizing: border-box;
  margin: 0 15px 25px 15px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .quote-item,
.art-item,
.video-item {
  padding: 25px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .quote-item
  p:nth-child(1) {
  font-size: 17px;
  font-family: var(--font-rubik);
  line-height: 27px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .quote-item
  p:nth-child(2) {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin-top: 20px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .quote-item.short
  P:nth-child(1) {
  font-size: 40px;
  line-height: 44px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  color: var(--foreground);
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .quote-item.short
  P:nth-child(2) {
  font-size: 21px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  margin-top: 20px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .art-item
  p {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin: 0;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .art-item
  p:nth-child(2) {
  margin-top: 10px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .art-item
  image {
  height: 100%;
  width: 100%;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .art-item,
.video-item {
  border: 1px solid var(--accent);
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  .video-item
  p {
  margin-top: 10px;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  iframe {
  width: 100%;
  height: revert-layer;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  p {
  font-size: 21px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  margin: 0;
}

.inspiration-container
  .inspiration-content
  .inspiration-body
  .inspiration-item
  img {
  width: 100%;
  height: auto;
}
