.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw 100px 5vw;
}

.contact-container .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-container .contact-content .contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 50px 0 100px 0;
}

.contact-container .contact-content .contact-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 150px 0;
}

.contact-container .contact-content .contact-body .contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  height: 100%;
  width: 75%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content
  .input-name,
.input-email,
.input-telephone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content
  label {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 1.8;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content
  input {
  border-bottom: 1px solid #88837e;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  height: 6vh;
  color: #e5dacd;
  font-family: var(--font-rubik);
  outline: none;
  width: 100%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content
  input[type="text"] {
  font-size: 17px;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-first-column
  .contact-form-first-column-content
  input:focus {
  box-shadow: 0px 0px 5px 0px #ead8c2 !important;
  border: none !important;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column
  .contact-form-second-column-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column
  .contact-form-second-column-content
  .input-subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column
  .contact-form-second-column-content
  .input-subject
  label {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 1.8;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column
  .contact-form-second-column-content
  .input-subject
  textarea {
  border: 1px solid #88837e;
  background: none;
  outline: none;
  resize: none;
  font-size: 17px;
  font-family: var(--font-rubik);
  color: var(--foreground);
  line-height: 1.8;
  height: 100%;
  width: 100%;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-second-column
  .contact-form-second-column-content
  .input-subject
  textarea:focus {
  box-shadow: 0px 0px 5px 0px #ead8c2 !important;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-third-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-third-column
  .contact-form-third-column-content
  .input-submit
  button {
  border: 1px solid #88837e;
  border-radius: 999px;
  background: none;
  font-size: 24px;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
  z-index: 2;
  cursor: pointer;
  height: 96px;
  width: 96px;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-form-third-column
  .contact-form-third-column-content
  .input-submit
  button:hover {
  color: var(--video-border-color);
  border: 1px solid var(--video-border-color);
  transition: all 0.5s ease-out;
}

.success-message-container,
.error-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  color: inherit;
  z-index: 201;
}

.success-message-container .success-message-content,
.error-message-container .error-message-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.success-message-container .success-message-content .success-message p,
.error-message-container .error-message-content .error-message p {
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.success-message-container
  .success-message-content
  .success-message-close
  button,
.error-message-container .error-message-content .error-message-close button {
  font-size: 19px;
  font-family: var(--font-cormorant);
  color: inherit;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.contact-container
  .contact-content
  .contact-body
  .contact-form
  .contact-image
  img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media all and (max-width: 1440px) {
  .contact-container .contact-content .contact-body {
    flex-direction: column;
    gap: 2em;
  }

  .contact-container .contact-content .contact-body .contact-form {
    width: 100%;
  }

  .contact-container .contact-content .contact-body .contact-image {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .contact-container .contact-content .contact-body .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px) {
  .contact-container .contact-content .contact-body .contact-form {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .success-message-container .success-message-content,
  .error-message-container .error-message-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-container .contact-content .contact-body .contact-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media all and (max-width: 425px) {
  .contact-container .contact-content .contact-header {
    margin-bottom: 50px;
  }
}
