.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw 100px 5vw;
}

.contactContainer .contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contactContainer .contactContent .contactHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 50px 0 100px 0;
}

.contactContainer .contactContent .contactBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 150px 0;
}

.contactContainer .contactContent .contactBody .contactForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  height: 100%;
  width: 75%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent
  .inputName,
.inputEmail,
.inputTelephone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent
  label {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 1.8;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent
  input {
  border-bottom: 1px solid #88837e;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  height: 6vh;
  color: #e5dacd;
  font-family: var(--font-rubik);
  outline: none;
  width: 100%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent
  input[type="text"] {
  font-size: 17px;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormFirstColumn
  .contactFormFirstColumnContent
  input:focus {
  box-shadow: 0px 0px 5px 0px #ead8c2 !important;
  border: none !important;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn
  .contactFormSecondColumnContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn
  .contactFormSecondColumnContent
  .inputSubject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn
  .contactFormSecondColumnContent
  .inputSubject
  label {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 1.8;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn
  .contactFormSecondColumnContent
  .inputSubject
  textarea {
  border: 1px solid #88837e;
  background: none;
  outline: none;
  resize: none;
  font-size: 17px;
  font-family: var(--font-rubik);
  color: var(--foreground);
  line-height: 1.8;
  height: 100%;
  width: 100%;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormSecondColumn
  .contactFormSecondColumnContent
  .inputSubject
  textarea:focus {
  box-shadow: 0px 0px 5px 0px #ead8c2 !important;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormThirdColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormThirdColumn
  .contactFormThirdColumnContent
  .inputSubmit
  button {
  border: 1px solid #88837e;
  border-radius: 999px;
  background: none;
  font-size: 24px;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
  z-index: 2;
  cursor: pointer;
  height: 96px;
  width: 96px;
}

.contactContainer
  .contactContent
  .contactBody
  .contactForm
  .contactFormThirdColumn
  .contactFormThirdColumnContent
  .inputSubmit
  button:hover {
  color: var(--video-border-color);
  border: 1px solid var(--video-border-color);
  transition: all 0.5s ease-out;
}

.successMessageContainer,
.errorMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  color: inherit;
  z-index: 201;
}

.successMessageContainer .successMessageContent,
.errorMessageContainer .errorMessageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.successMessageContainer .successMessageContent .successMessage p,
.errorMessageContainer .errorMessageContent .errorMessage p {
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.successMessageContainer .successMessageContent .successMessageClose button,
.errorMessageContainer .errorMessageContent .errorMessageClose button {
  font-size: 19px;
  font-family: var(--font-cormorant);
  color: inherit;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.contactContainer .contactContent .contactBody .contactForm .contactImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media all and (max-width: 1440px) {
  .contactContainer .contactContent .contactBody {
    flex-direction: column;
    gap: 2em;
  }

  .contactContainer .contactContent .contactBody .contactForm {
    width: 100%;
  }

  .contactContainer .contactContent .contactBody .contactImage {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .contactContainer .contactContent .contactBody .contactForm {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px) {
  .contactContainer .contactContent .contactBody .contactForm {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .successMessageContainer .successMessageContent,
  .errorMessageContainer .errorMessageContent {
    flex-direction: column;
    align-items: center;
  }

  .contactContainer .contactContent .contactBody .contactImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media all and (max-width: 425px) {
  .contactContainer .contactContent .contactHeader {
    margin-bottom: 50px;
  }
}
