.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 5vw 150px 5vw;
}

.about-container .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
}

.about-container .about-content .about-title h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
}

.about-container .about-content .about-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.about-container .about-content .about-description .about-description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.about-container .about-content .about-description .about-description-text p {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-rubik);
  line-height: 27px;
  color: var(--foreground);
}

.about-instruments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: url("/images/pulling_clouds.jpg") no-repeat top center;
  background-size: cover;
  margin: 100px 0 150px 0;
}

.about-instruments-container .about-instruments-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85vw;
  height: 100%;
}

.about-instruments-container
  .about-instruments-content
  .about-instruments-title
  h3 {
  color: var(--selection-text);
}

.about-instruments-container
  .about-instruments-content
  .about-instruments-text
  p {
  color: var(--selection-text);
}

.about-thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5vw 200px 5vw;
}

.about-thanks-container .about-thanks-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

.about-thanks-container .about-thanks-content .about-thanks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-thanks-container .about-thanks-content .about-thanks-text p {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
}

.about-thanks-container
  .about-thanks-content
  .about-thanks-text
  .about-thanks-text-content {
  padding: 100px 0 60px 0;
  width: 100%;
}

.about-audio-info-container {
  display: flex;
  flex-direction: row;
  margin: 0 5vw 50px 5vw;
}

.about-audio-info-container .about-audio-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-audio-info-container .about-audio-info-content .about-audio-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-audio-info-container
  .about-audio-info-content
  .about-audio-info-title
  h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 33px;
  margin: 0;
}

.about-audio-info-container .about-audio-info-content .about-audio-info-text p {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-rubik);
  line-height: 27px;
  color: var(--foreground);
  margin: 0;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: var(--accent);
  z-index: 210;
  width: 100%;
}

.line.appear {
  transform: scaleX(1);
  transition: transform 2s ease-out;
}

@media all and (max-width: 1024px) {
  .about-container .about-content {
    width: 100%;
  }

  .about-container .about-content .about-description {
    flex-direction: column;
    gap: 0;
  }

  .about-thanks-container .about-thanks-content {
    width: 100%;
  }
}
