.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 5vw 150px 5vw;
}

.aboutContainer .aboutContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
}

.aboutContainer .aboutContent .aboutTitle h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
}

.aboutContainer .aboutContent .aboutDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.aboutContainer .aboutContent .aboutDescription .aboutDescriptionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.aboutContainer .aboutContent .aboutDescription .aboutDescriptionText p {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-rubik);
  line-height: 27px;
  color: var(--foreground);
}

.aboutInstrumentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 100px 0 150px 0;
  background: url("/images/boreas.jpg") no-repeat center center;
  background-size: cover;
}

.aboutInstrumentsContainer .aboutInstrumentsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85vw;
  height: 100%;
}

.aboutInstrumentsContainer .aboutInstrumentsContent h3,
.aboutInstrumentsContainer .aboutInstrumentsContent p {
  color: var(--selection-text);
}

.aboutThanksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5vw 200px 5vw;
}

.aboutThanksContainer .aboutThanksContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

.aboutThanksContainer .aboutThanksContent .aboutThanksText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutThanksContainer .aboutThanksContent .aboutThanksText p {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  color: var(--foreground);
}

.aboutThanksContainer
  .aboutThanksContent
  .aboutThanksText
  .aboutThanksTextContent {
  padding: 100px 0 60px 0;
  width: 100%;
}

.aboutAudioInfoContainer {
  display: flex;
  flex-direction: row;
  margin: 0 5vw 50px 5vw;
}

.aboutAudioInfoContainer .aboutAudioInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.aboutAudioInfoContainer .aboutAudioInfoContent .aboutAudioInfoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.aboutAudioInfoContainer .aboutAudioInfoContent .aboutAudioInfoTitle h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  color: var(--foreground);
  line-height: 33px;
  margin: 0;
}

.aboutAudioInfoContainer .aboutAudioInfoContent .aboutAudioInfoText p {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-rubik);
  line-height: 27px;
  color: var(--foreground);
  margin: 0;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: var(--accent);
  z-index: 210;
  width: 100%;
}

.line.appear {
  transform: scaleX(1);
  transition: transform 2s ease-out;
}

@media all and (max-width: 1024px) {
  .aboutContainer .aboutContent {
    width: 100%;
  }

  .aboutContainer .aboutContent .aboutDescription {
    flex-direction: column;
    gap: 0;
  }

  .aboutThanksContainer .aboutThanksContent {
    width: 100%;
  }
}
