.background-music-container {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  z-index: 200;
}

.background-music-container .background-music-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: auto;
}

.background-music-container .background-music-content {
  display: flex;
  flex-direction: column;
}

.background-music-container .background-music-content button {
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: small-caps;
  cursor: pointer;
  padding: 0;
}

.background-music-container .background-music-content button .siri-wave {
  display: flex;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.background-music-container .background-music-content .pause-button {
  display: none;
}

.background-music-container .background-music-content .play-button.visible,
.background-music-container .background-music-content .pause-button.visible {
  display: flex;
}

.background-music-container .background-music-content .play-button.hidden,
.background-music-container .background-music-content .pause-button.hidden {
  display: none;
}
