/* Projects */
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5vw;
}

.projectsContainer .projectsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projectsContainer .projectsContent .projectsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1em;
  width: 100%;
  height: 100%;
  margin: 50px 0 100px 0;
}

.projectsContainer .projectsContent .projectsHeader .projectsHeaderCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.projectsContainer
  .projectsContent
  .projectsHeader
  .projectsHeaderCategory
  .filterButton {
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
  line-height: 33px;
  background-color: transparent;
  color: var(--foreground);
  border: none;
  padding: 0;
}

.projectsContainer
  .projectsContent
  .projectsHeader
  .projectsHeaderCategory
  .solo {
  border-bottom: 1px solid var(--solo);
}

.projectsContainer
  .projectsContent
  .projectsHeader
  .projectsHeaderCategory
  .ensemble {
  border-bottom: 1px solid var(--ensemble);
}

.projectsContainer
  .projectsContent
  .projectsHeader
  .projectsHeaderCategory
  .all {
  border-bottom: 1px solid var(--accent);
}

.projectsContainer .projectsContent .projectsBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  min-height: 80vh;
  width: 100%;
  margin: 0 0 150px 0;
}

.projectsContainer .projectsContent .projectsBody .projectItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  min-height: max-content;
}

.projectsContainer
  .projectsContent
  .projectsBody
  .projectItem
  .projectImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectsContainer
  .projectsContent
  .projectsBody
  .projectItem
  .projectImageContainer
  a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.projectsContainer .projectsContent .projectsBody .projectItem .projectImage {
  height: 500px;
}

.projectsContainer
  .projectsContent
  .projectsBody
  .projectItem
  .projectImage
  img {
  width: 100%;
  object-fit: cover;
}

.projectsContainer
  .projectsContent
  .projectsBody
  .projectItem
  .projectImageContainer
  .projectTitle
  h3 {
  font-size: 40px;
  line-height: 45px;
  margin-top: 15px;
  width: fit-content;
}

.projectsContainer .projectsContent .projectsBody .projectDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 44px;
}

.projectsContainer .projectsContent .projectsBody .projectDetails .author {
  font-size: 21px;
  font-weight: 300;
  font-family: var(--font-cormorant);
  font-style: italic;
  font-variant: small-caps;
  color: inherit;
  line-height: 33px;
  margin: 0;
}

.projectsContainer .projectsContent .projectsBody .projectDetails .category {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-cormorant);
  text-transform: capitalize;
  color: inherit;
  line-height: 33px;
  margin: 0;
}

/* Project */
.project {
  margin: 0 5vw;
}

.project .projectContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 25px auto 0 auto;
}

.project .projectContainer .projectContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project .projectContainer .projectContent .projectTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33.33333%;
}

.project
  .projectContainer
  .projectContent
  .projectTitleContainer
  .projectTitle
  h2 {
  margin: 100px 0 25px 0;
  z-index: 100;
  position: relative;
}

.project
  .projectContainer
  .projectContent
  .projectTitleContainer
  .projectDetails {
  margin: 0 0 50px 0;
}

.project
  .projectContainer
  .projectContent
  .projectTitleContainer
  .projectDetails
  p {
  font-size: 24px;
  font-family: var(--font-cormorant);
  line-height: 27px;
  font-weight: 400;
  margin: 0 0 10px 0;
  font-style: italic;
}

.project .projectContainer .projectContent .projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 66.66667%;
  margin-left: -8.3333%;
}

.project .projectContainer .projectContent .projectDescription .projectImage {
  width: 100%;
  height: 500px;
  position: relative;
}

.project
  .projectContainer
  .projectContent
  .projectDescription
  .projectImage
  img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
}

.project .projectContainer .projectContent .projectDescription .projectText {
  margin-top: 150px;
  margin-bottom: 50px;
}

.project .projectContainer .projectContent .projectDescription .projectText h4 {
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: normal;
  margin: 0;
}

.project .projectVideoContainer {
  margin: 150px 0;
  text-align: center;
}

.project .projectVideoContainer iframe {
  width: 100%;
  border: 1px solid var(--video-border-color);
  height: 100vh;
}

@media all and (max-width: 1024px) {
  .projectsContainer .projectsContent .projectsBody {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px) {
  .projectsContainer .projectsContent .projectsBody {
    grid-template-columns: repeat(1, 1fr);
  }

  .project .projectContainer .projectContent {
    flex-direction: column;
  }

  .project .projectContainer .projectContent .projectTitleContainer {
    width: 100%;
  }

  .project
    .projectContainer
    .projectContent
    .projectTitleContainer
    .projectTitle
    h2 {
    margin-top: 50px;
  }

  .project .projectContainer .projectContent .projectDescription {
    width: 100%;
    margin-left: 0;
  }

  .project .projectContainer .projectContent .projectDescription .projectText {
    margin-top: 50px;
  }

  .project .projectVideoContainer {
    margin-top: 50px;
  }
}

@media all and (max-width: 425px) {
  .projectsContainer .projectsContent .projectsHeader {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 50px;
  }
}
