:root {
  --background: #080808;
  --foreground: #ead8c2;
  --font-cormorant: "Garamond", serif;
  --font-rubik: "Rubik", sans-serif;
  --font-gloock: "Gloock", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Menu */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 120vw;
  z-index: 220;
  transition: all 1s ease-out;
}

.menu-container .menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 5vw 0 5vw;
}

.menu-container .menu-content .menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.menu-container .menu-content .menu-header .menu-header-logo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.menu-container .menu-content .menu-header .menu-header-logo h3 {
  font-family: var(--font-cormorant);
  line-height: 45px;
  font-size: 27px;
  font-variant: normal;
  font-style: italic;
  font-weight: 300;
  color: #696969;
  margin: 0;
}

.menu-container .menu-content .menu-header .menu-header-logo h1 {
  font-family: var(--font-cormorant);
  line-height: 33px;
  font-size: 27px;
  font-variant: small-caps;
  font-weight: 300;
  color: #696969;
  margin: 0;
}

.menu-container .menu-content .menu-header .close-button-container {
  display: flex;
  z-index: 200;
}

.menu-container
  .menu-content
  .menu-header
  .close-button-container
  .close-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 100px;
  width: auto;
}

.menu-container
  .menu-content
  .menu-header
  .close-button-container
  .close-button-content
  button {
  cursor: pointer;
  font-size: 110px;
  font-weight: 400;
  font-family: var(--font-gloock);
  z-index: 240;
  margin: 0;
  transform: rotate(45deg);
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

.menu-container .menu-content .menu-body {
  height: 80vh;
  margin-top: 25px;
  width: 90vw;
  position: relative;
}

.menu-container .menu-content .menu-body .menu-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  position: absolute;
  transition: all 1s ease-out;
}

.menu-container .menu-content .menu-body p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 27px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  line-height: 27px;
}

.menu-container .menu-content .menu-body .projects-link {
  top: 0;
  left: 0vw;
}

.menu-container .menu-content .menu-body .about-link {
  top: 0;
  left: 25vw;
}

.menu-container .menu-content .menu-body .inspiration-link {
  top: 0;
  left: 50vw;
}

.menu-container .menu-content .menu-body .gallery-link {
  top: 0;
  left: 75vw;
}

.menu-container .menu-content .menu-body .contact-link {
  top: 70%;
  left: 75vw;
}

.appear {
  left: 0vw !important;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-container .header-content .header-logo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.header-container .header-content .header-logo h3 {
  font-size: 27px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-style: italic;
  line-height: 45px;
  font-variant: normal;
  margin: 0;
}

.header-container .header-content .header-logo h1 {
  font-size: 40px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  line-height: 33px;
  font-variant: small-caps;
  margin: 0;
}

.header-container .header-content .menu-button-container {
  display: flex;
  z-index: 210;
}

.header-container .header-content .menu-button-container .menu-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: fixed;
  right: 5vw;
  height: 100px;
  width: auto;
}

.header-container
  .header-content
  .menu-button-container
  .menu-button-content
  button {
  cursor: pointer;
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: small-caps;
  z-index: 200;
  margin: 0;
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.round-animation-one {
  border: var(--foreground) 0.5px solid;
  animation: border 5s ease-out infinite, borderrotate 6s linear infinite;
  position: absolute;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-out;
}

.round-animation-two {
  border: var(--foreground) 0.5px solid;
  animation: border2 5s ease-out infinite, borderrotate2 5s linear infinite;
  position: absolute;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-out;
}

@keyframes border {
  0% {
    border-radius: 43% 50% 40% 42%;
    transform: rotate(0);
  }
  30% {
    border-radius: 50% 40% 45% 48%;
  }
  66% {
    border-radius: 43% 46% 50% 50%;
  }
  100% {
    border-radius: 43% 50% 40% 42%;
    transform: rotate(360deg);
  }
}

@keyframes borderrotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes border2 {
  0% {
    border-radius: 50% 35% 42% 40%;
    transform: rotate(0);
  }
  30% {
    border-radius: 40% 50% 30% 43%;
  }
  66% {
    border-radius: 48% 43% 48% 50%;
  }
  100% {
    border-radius: 50% 35% 42% 40%;
    transform: rotate(-360deg);
  }
}

@keyframes borderrotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
}
