@import url("@fancyapps/ui/dist/fancybox/fancybox.css");

:root {
  --background: #080808;
  --foreground: #ead8c2;
  --selection: #b3d3fc;
  --selection-text: #000000;
  --video-border-color: #ffffff;
  --accent: #696969;
  --solo: #9a4c38;
  --ensemble: #4a1e6a;
  --font-cormorant: "Cormorant", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-gloock: "Gloock", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-cormorant), sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  color: var(--foreground);
}

h1 {
  font-size: 23px;
  line-height: 33px;
}

h2 {
  font-size: 70px;
  line-height: 75px;
}

h3 {
  font-size: 40px;
  line-height: 45px;
}

h4 {
  font-size: 24px;
  line-height: 33px;
}

p {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font-rubik), sans-serif;
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--video-border-color) !important;
  transition: all 0.5s ease-out;
}

/* Animations */
.round-animation-one {
  border: var(--foreground) 0.5px solid;
  animation:
    border 5s ease-out infinite,
    borderrotate 6s linear infinite;
  position: absolute;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-out;
}

.footer {
  margin: 0 5vw;
}

.round-animation-two {
  border: var(--foreground) 0.5px solid;
  animation:
    border2 5s ease-out infinite,
    borderrotate2 5s linear infinite;
  position: absolute;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-out;
}

@keyframes border {
  0% {
    border-radius: 43% 50% 40% 42%;
    transform: rotate(0);
  }
  30% {
    border-radius: 50% 40% 45% 48%;
  }
  66% {
    border-radius: 43% 46% 50% 50%;
  }
  100% {
    border-radius: 43% 50% 40% 42%;
    transform: rotate(360deg);
  }
}

@keyframes borderrotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes border2 {
  0% {
    border-radius: 50% 35% 42% 40%;
    transform: rotate(0);
  }
  30% {
    border-radius: 40% 50% 30% 43%;
  }
  66% {
    border-radius: 48% 43% 48% 50%;
  }
  100% {
    border-radius: 50% 35% 42% 40%;
    transform: rotate(-360deg);
  }
}

@keyframes borderrotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

/* Selection */
::selection {
  background: var(--selection);
  color: var(--selection-text);
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  h2 {
    font-size: 50px;
    line-height: 55px;
  }
}
