.languageSwitcherContainer {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
  z-index: 200;
}

.languageSwitcherContainer .languageSwitcherContent .languageSwitcherList {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: auto;
  gap: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.languageSwitcherContainer .languageSwitcherContent a {
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: small-caps;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0;
}

.languageSwitcherContainer .languageSwitcherContent a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--accent);
  bottom: -10px;
  left: 0;
  transition: width 0.5s ease;
}

.languageSwitcherContainer .languageSwitcherContent a:hover::after {
  width: 100%;
}

.languageSwitcherContainer
  .languageSwitcherContent
  .languageSwitcherList
  .active
  span {
  width: 100%;
  height: 1px;
  background: var(--accent);
  position: absolute;
  bottom: -10px;
  left: 0;
}

@media all and (max-width: 425px) {
  .languageSwitcherContainer .languageSwitcherContent .languageSwitcherList {
    flex-direction: column;
    gap: 1em;
  }
}
