.headerContainer.home {
  height: 100vh;
}

.headerContainer {
  padding-top: 25px;
  margin: 0 5vw;
}

.headerContainer .headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.headerContainer .headerContent .headerLogo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.headerContainer .headerContent .headerLogo.home h3 {
  color: var(--foreground);
}

.headerContainer .headerContent .headerLogo.home h1 {
  font-size: 40px;
  font-family: var(--font-cormorant);
  color: var(--foreground);
  line-height: 33px;
}

.headerContainer .headerContent .headerLogo h3,
.headerContainer .headerContent .headerLogo h1 {
  color: var(--accent);
  font-size: 27px;
  font-variant: normal;
  font-family: var(--font-cormorant);
}

.headerContainer .headerContent .headerLogo h3 {
  line-height: 45px;
  font-style: italic;
}

.headerContainer .headerContent .headerLogo h1 {
  line-height: 33px;
  font-variant: small-caps;
}

.headerContainer .headerContent .menuButtonContainer {
  display: flex;
  z-index: 210;
}

.headerContainer .headerContent .menuButtonContainer .menuButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: fixed;
  right: 5vw;
  height: 100px;
  width: auto;
}

.headerContainer .headerContent .menuButtonContainer .menuButtonContent button {
  cursor: pointer;
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: small-caps;
  z-index: 200;
  margin: 0;
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

.headerContainer .headerFooterContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.aboutHeader h1 {
  font-size: 70px;
  margin-bottom: 240px;
}

@media all and (max-width: 425px) {
  .headerContainer .headerContent .headerLogo.home h1 {
    font-size: 32px;
  }
}
