.language-switcher-container {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
  z-index: 200;
}

.language-switcher-container
  .language-switcher-content
  .language-switcher-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: auto;
  gap: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.language-switcher-container .language-switcher-content a {
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 24px;
  line-height: 33px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  font-variant: small-caps;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0;
}

.language-switcher-container .language-switcher-content a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--accent);
  bottom: -10px;
  left: 0;
  transition: width 0.5s ease;
}

.language-switcher-container .language-switcher-content a:hover::after {
  width: 100%;
}

.language-switcher-container
  .language-switcher-content
  .language-switcher-list
  .active
  span {
  width: 100%;
  height: 1px;
  background: var(--accent);
  position: absolute;
  bottom: -10px;
  left: 0;
}
