.footerContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 50px 0 50px 0;
}

.footerContainer .footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.footerContainer .footerContent p {
  font-size: 14px;
  font-family: var(--font-rubik);
  font-variant: normal;
  line-height: 18px;
}

.footerContainer .footerContent .contactLink a {
  font-size: 19px;
  font-family: var(--font-cormorant);
  font-variant: small-caps;
}
