.cookieBannerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  color: inherit;
  text-align: center;
  display: none;
  z-index: 201;
}

.cookieBannerContainer .cookieBannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.cookieBannerContainer .cookieBannerContent .cookieBannerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cookieBannerContainer .cookieBannerContent .cookieBannerText span {
  font-size: 15px;
}

.cookieBannerContainer .cookieBannerContent .cookieBannerText a {
  font-family: var(--font-cormorant);
  font-size: 19px;
}

.cookieBannerContainer .cookieBannerButton button {
  font-size: 19px;
  font-family: var(--font-cormorant);
  color: inherit;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.cookieBannerContainer.visible {
  display: flex;
}

@media all and (max-width: 768px) {
  .cookieBannerContainer .cookieBannerContent {
    flex-direction: column;
    align-items: center;
  }

  .cookieBannerContainer .cookieBannerContent .cookieBannerText {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
