.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 120vw;
  z-index: 220;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-out;
}

.menu-container .menu-content {
  padding: 25px 5vw 0 5vw;
}

.menu-container .menu-content .menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-container .menu-content .menu-header .menu-logo h3 {
  font-size: 27px;
  font-style: italic;
  font-variant: normal;
  font-family: var(--font-cormorant);
  line-height: 45px;
  color: #696969;
}

.menu-container .menu-content .menu-header .menu-logo h1 {
  font-size: 27px;
  font-family: var(--font-cormorant);
  line-height: 33px;
  color: #696969;
}

.menu-container .menu-content .menu-header .close-button-container {
  display: flex;
  z-index: 200;
}

.menu-container
  .menu-content
  .menu-header
  .menu-button-container
  .menu-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 100px;
  width: auto;
}

.menu-container
  .menu-content
  .menu-header
  .menu-button-container
  .menu-button-content
  button {
  cursor: pointer;
  font-size: 110px;
  font-weight: 400;
  font-family: var(--font-gloock);
  z-index: 240;
  margin: 0;
  transform: rotate(45deg);
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

.menu-container .menu-content .menu-body {
  height: 80vh;
  margin-top: 25px;
  width: 90vw;
  position: relative;
}

.menu-container .menu-content .menu-body .menu-link p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 27px;
  font-family: var(--font-cormorant);
  font-weight: 300;
  line-height: 27px;
}

.menu-container .menu-content .menu-body .menu-link.projects-link,
.menu-container .menu-content .menu-body .menu-link.about-link,
.menu-container .menu-content .menu-body .menu-link.inspiration-link,
.menu-container .menu-content .menu-body .menu-link.gallery-link,
.menu-container .menu-content .menu-body .menu-link.contact-link {
  position: absolute;
}

.menu-container .menu-content .menu-body .menu-link.projects-link {
  top: 0;
  left: 0vw;
}

.menu-container .menu-content .menu-body .menu-link.about-link {
  top: 0;
  left: 25vw;
}

.menu-container .menu-content .menu-body .menu-link.inspiration-link {
  top: 0;
  left: 50vw;
}

.menu-container .menu-content .menu-body .menu-link.gallery-link {
  top: 0;
  left: 75vw;
}

.menu-container .menu-content .menu-body .menu-link.contact-link {
  top: 50vh;
  left: 75vw;
}

.menu-open {
  left: 0vw !important;
}
